.btn {
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url("../fonts/Gilroy-Semibold.eot");
  src: url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Extrabold";
  src: url("../fonts/Gilroy-Extrabold.eot");
  src: url("../fonts/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

#primary {
  position: relative;
  flex: 1 1 auto;
}

@media (min-width: 1303px) {
  #primary {
    padding: 7.25rem 15rem 1rem;
  }
}

@media (max-width: 1303px) {
  #primary {
    padding: 7.25rem 5rem 1rem;
  }
}

@media (max-width: 1024px) {
  #primary {
    padding: 2.25rem 5rem;
  }
}

@media (max-width: 767px) {
  #primary {
    padding: 2.25rem 1rem;
  }
}

#primary .container {
  position: relative;
}

#primary .container .description-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

@media (min-width: 1440px) {
  #primary .container .description-form {
    gap: 2rem 8rem;
  }
}

@media (max-width: 1439px) {
  #primary .container .description-form {
    gap: 2rem;
  }
}

@media (max-width: 1024px) {
  #primary .container .description-form {
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

@media (max-width: 1024px) {
  #primary .container .description-form {
    gap: 2rem;
  }
}

@media (max-width: 767px) {
  #primary .container .description-form {
    gap: 0;
  }
}

#primary .container .description-form .description {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

@media (max-width: 767px) {
  #primary .container .description-form .description .frontend-course {
    text-align: center;
  }
}

#primary .container .description-form .description .frontend-course p {
  border-radius: 5px;
  background: #4252d1;
  padding: 0.4rem 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: max-content;
}

@media (max-width: 767px) {
  #primary .container .description-form .description .frontend-course p {
    margin: 0 auto;
    border-radius: 3px;
    padding: 0.2rem 0.7rem;
  }
}

#primary .container .description-form .description .frontend-course p span {
  color: #fff;
  font-family: "Gilroy-Semibold";
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (max-width: 767px) {
  #primary .container .description-form .description .frontend-course p span {
    font-size: 12px;
  }
}

#primary .container .description-form .description .frontend-course h2 {
  color: #FF3459;
  font-family: "Gilroy-Extrabold";
  font-size: 4.8rem;
  line-height: normal;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  #primary .container .description-form .description .frontend-course h2 {
    font-size: 52px;
  }
}

#primary .container .description-form .description .frontend-course h3 {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #f6f6f6;
  font-family: "Gilroy-Semibold";
  font-size: 1.3rem;
  line-height: normal;
  padding-bottom: 1.9rem;
}

@media (max-width: 767px) {
  #primary .container .description-form .description .frontend-course h3 {
    font-size: 15px;
    justify-content: center;
    padding-bottom: 1rem;
  }
}

#primary .container .description-form .description .frontend-course h3 span {
  position: relative;
  color: #fff;
  font-family: "Gilroy-Extrabold";
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem 0.3rem;
  z-index: 1;
}

@media (max-width: 767px) {
  #primary .container .description-form .description .frontend-course h3 span {
    font-size: 16px;
  }
}

#primary .container .description-form .description .frontend-course h3 span::before {
  content: "";
  position: absolute;
  background: #FF3459;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  transform: rotate(355deg);
  transform-origin: center center;
}

#primary .container .description-form .description .frontend-course h4 {
  color: #f6f6f6;
  font-family: "Gilroy-Regular";
  font-size: 1.125rem;
  line-height: 148%;
}

@media (max-width: 767px) {
  #primary .container .description-form .description .frontend-course h4 {
    font-size: 14px;
  }
}

#primary .container .description-form .description .frontend-course h4 span {
  color: #fff;
  font-family: "Gilroy-Semibold";
  font-size: 1.125rem;
  line-height: 148%;
}

@media (max-width: 767px) {
  #primary .container .description-form .description .frontend-course h4 span {
    font-size: 14px;
  }
}

#primary .container .description-form .coaches-and-bonus {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

@media (max-width: 767px) {
  #primary .container .description-form .coaches-and-bonus {
    grid-row-start: 3;
    grid-row-end: 3;
    padding: 2.25rem 3rem 4rem;
    gap: 1.38rem;
    flex-direction: column-reverse;
  }
}

@media (max-width: 400px) {
  #primary .container .description-form .coaches-and-bonus {
    padding: 2.25rem 0rem;
  }
}

#primary .container .description-form .coaches-and-bonus .coach,
#primary .container .description-form .coaches-and-bonus .registration-bonus {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#primary .container .description-form .coaches-and-bonus .coach .coach-avatar {
  width: 2.8rem;
  height: 2.8rem;
}

@media (max-width: 767px) {
  #primary .container .description-form .coaches-and-bonus .coach .coach-avatar {
    width: 160px;
    height: auto;
  }
}

@media (max-width: 400px) {
  #primary .container .description-form .coaches-and-bonus .coach .coach-avatar {
    width: 130px;
  }
}

#primary .container .description-form .coaches-and-bonus .coach .coach-avatar img {
  max-width: max-content;
}

@media (max-width: 400px) {
  #primary .container .description-form .coaches-and-bonus .coach .coach-avatar img {
    max-width: inherit;
    width: 100%;
  }
}

#primary .container .description-form .coaches-and-bonus .coach .coach-info h5 {
  color: #fff;
  font-family: "Gilroy-Semibold";
  font-size: 0.8rem;
  line-height: 120%;
  text-transform: uppercase;
}

#primary .container .description-form .coaches-and-bonus .coach .coach-info h5 span {
  color: #4252d1;
}

#primary .container .description-form .coaches-and-bonus .coach .coach-info p {
  color: #fff;
  font-family: "Gilroy-Regular";
  font-size: 0.75rem;
  line-height: 160%;
}

#primary .container .description-form .coaches-and-bonus .registration-bonus .bonus-icon {
  width: 2.8rem;
  height: 2.8rem;
}

@media (max-width: 767px) {
  #primary .container .description-form .coaches-and-bonus .registration-bonus .bonus-icon {
    width: auto;
    height: auto;
  }
  #primary .container .description-form .coaches-and-bonus .registration-bonus .bonus-icon img {
    width: 100px;
  }
}

@media (max-width: 400px) {
  #primary .container .description-form .coaches-and-bonus .registration-bonus .bonus-icon {
    width: auto;
    height: auto;
  }
  #primary .container .description-form .coaches-and-bonus .registration-bonus .bonus-icon img {
    width: 80px;
  }
}

#primary .container .description-form .coaches-and-bonus .registration-bonus .bonus-info h5 {
  color: #fff;
  font-family: "Gilroy-Semibold";
  font-size: 0.8rem;
  line-height: 148%;
}

#primary .container .description-form .coaches-and-bonus .registration-bonus .bonus-info p {
  color: #fff;
  font-family: "Gilroy-Regular";
  font-size: 0.75rem;
  line-height: 148%;
}

#primary .container .description-form .registration-form {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media (max-width: 1024px) {
  #primary .container .description-form .registration-form {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    padding-top: 2rem;
  }
}

@media (max-width: 767px) {
  #primary .container .description-form .registration-form {
    grid-row-start: 2;
    grid-row-end: 2;
    padding-top: 1.25rem;
  }
}

#primary .container .description-form .registration-form .form {
  padding: 3rem 4rem;
  border-radius: 10px;
  background: #303a53;
}

@media (max-width: 767px) {
  #primary .container .description-form .registration-form .form {
    padding: 2.5rem 1.3rem;
  }
}

#primary .container .description-form .registration-form .form .contact .title p {
  color: #fff;
  font-family: "Gilroy-Semibold";
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-align: center;
}

#primary .container .description-form .registration-form .form .contact .title p span {
  color: #FF3459;
}

@media (max-width: 767px) {
  #primary .container .description-form .registration-form .form .contact .title p {
    font-size: 1.2rem;
  }
}

#primary .container .description-form .registration-form .form .contact .contact-form {
  padding-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#primary .container .description-form .registration-form .form .contact .contact-form input {
  border-radius: 5px;
  background: #272d3d;
  padding: 12px 22px 15px;
  border: none;
  color: #fff;
}

#primary .container .description-form .registration-form .form .contact .contact-form input::placeholder {
  color: #d7d7d7;
  font-family: "Gilroy-Regular";
  font-size: 13px;
  line-height: 24px;
}

@media (max-width: 1024px) {
  #primary .container .description-form .registration-form .form .contact .contact-form input {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 1750px) {
  #primary .container .description-form .registration-form .form .contact .contact-form input {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1749px) and (min-width: 1025px) {
  #primary .container .description-form .registration-form .form .contact .contact-form input {
    max-width: 15rem;
    width: 15rem;
  }
}

#primary .container .description-form .registration-form .form .contact .contact-form .intl-tel-input input {
  padding: 12px 22px 15px 45px;
}

#primary .container .description-form .registration-form .form .contact .contact-form .btn-submmit p {
  max-height: 50px;
}

#primary .container .description-form .registration-form .form .contact .contact-form .btn-submmit p input {
  border-radius: 5px;
  background: #FF3459;
  color: #fff;
  font-family: "Gilroy-Semibold";
  font-size: 15px;
  line-height: 24px;
  padding: 13px;
  cursor: pointer;
}

@media (max-width: 767px) {
  #primary .container .description-form .registration-form .form .contact .contact-form .btn-submmit p input {
    font-size: 14px;
    background: #0048ff;
  }
}

#primary .container .description-form .registration-form .form .contact .contact-form .policy-privacy {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Gilroy-Medium";
  font-size: 12px;
  line-height: 149%;
  padding-top: 6px;
  text-align: center;
}

#primary .container .description-form .registration-form .form .contact .contact-form .policy-privacy a {
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.5);
}

#primary .container .description-form .registration-form .wpcf7 form.invalid .wpcf7-response-output,
#primary .container .description-form .registration-form .wpcf7 form.unaccepted .wpcf7-response-output,
#primary .container .description-form .registration-form .wpcf7 form.payment-required .wpcf7-response-output,
#primary .container .description-form .registration-form .wpcf7 form .wpcf7-response-output {
  color: #fff;
  font-family: "Gilroy-Medium";
}

#primary .container .icons-programming {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 2170px) {
  #primary .container .icons-programming {
    right: -8%;
  }
}

@media (max-width: 2169px) and (min-width: 1800px) {
  #primary .container .icons-programming {
    right: -10%;
  }
}

@media (max-width: 1799px) and (min-width: 1500px) {
  #primary .container .icons-programming {
    right: -14%;
  }
}

@media (max-width: 1499px) {
  #primary .container .icons-programming {
    right: -18%;
  }
}

@media (max-width: 1303px) {
  #primary .container .icons-programming {
    display: none;
  }
}

#primary .container .icons-programming .icons-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#primary .container .icons-programming .icons-position .icons-1,
#primary .container .icons-programming .icons-position .icons-2,
#primary .container .icons-programming .icons-position .icons-3,
#primary .container .icons-programming .icons-position .icons-4,
#primary .container .icons-programming .icons-position .icons-5 {
  position: absolute;
  width: max-content;
}

#primary .container .icons-programming .icons-position .icons-1 {
  top: -20px;
  right: -40px;
}

#primary .container .icons-programming .icons-position .icons-1::after {
  content: url("../img/icons-programming/Ellipse3.svg");
  position: absolute;
  top: 10px;
}

#primary .container .icons-programming .icons-position .icons-2 {
  top: 80px;
  left: -140px;
}

#primary .container .icons-programming .icons-position .icons-2::after {
  content: url("../img/icons-programming/Ellipse1.svg");
  position: absolute;
  top: -15px;
  right: 10px;
}

#primary .container .icons-programming .icons-position .icons-3 {
  top: 135px;
  right: -40px;
}

#primary .container .icons-programming .icons-position .icons-3::after {
  content: url("../img/icons-programming/Ellipse2.svg");
  position: absolute;
  top: 10px;
  right: -12px;
}

#primary .container .icons-programming .icons-position .icons-4 {
  top: 220px;
  left: -135px;
}

#primary .container .icons-programming .icons-position .icons-4::after {
  content: url("../img/icons-programming/Ellipse4.svg");
  position: absolute;
  top: -25px;
  right: 5px;
}

#primary .container .icons-programming .icons-position .icons-5 {
  top: 290px;
  right: -5px;
}

#primary .container .icons-programming .icons-position .icons-5::after {
  content: url("../img/icons-programming/Ellipse5.svg");
  position: absolute;
  bottom: 10px;
  right: -8px;
}
/*# sourceMappingURL=homepage.css.map */