@import "variables";

html,
body {
    height: 100%;
}

#page {
    min-height: 100%;
    overflow: hidden;
    position: relative;

    header {
        position: relative;
        @media (min-width: 1303px) {
            padding: 2.13rem 15rem 0;
        }
        @media (max-width: 1303px) {
            padding: 2.13rem 5rem 0;
        }
        @media (max-width: 1024px) {
            padding: 1.75 1rem 0;
        }
        @media (max-width: 767px) {
            padding: 1.75rem 1rem 0 1.87rem;
            &::before,
            &::after {
                display: none;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: -2%;
            left: -2%;
            width: 24.938rem;
            height: 25.01944rem;
            transform: rotate(9.408deg);
            flex-shrink: 0;
            border-radius: 25.01944rem;
            opacity: 0.5;
            background: #332f65;
            filter: blur(103.13057708740234px);
            z-index: -1;
        }
        &::after {
            content: "";
            position: absolute;
            right: -25%;
            top: -300%;
            width: 49.41556rem;
            height: 49.57706rem;
            transform: rotate(9.408deg);
            flex-shrink: 0;
            border-radius: 49.57706rem;
            opacity: 0.8;
            background: #332f65;
            filter: blur(103.13057708740234px);
            z-index: -1;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                a {
                    display: flex;
                    img {
                        @media (max-width: 767px) {
                            width: 100px;
                        }
                    }
                }
            }
            .date-time {
                display: flex;
                gap: 1.13rem;
                @media (max-width: 767px) {
                    gap: 6px;
                }
                &__date,
                &__time {
                    border-radius: 10px;
                    background: #302e5a;
                    padding: 0.81rem 1.44rem;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    font-family: "Gilroy-Light";
                    color: $first-color;
                    @media (max-width: 767px) {
                        padding: 0.2rem 0.3rem;
                        font-size: 11px;
                        border-radius: 5px;
                    }
                }
                &__date {
                    &::before {
                        content: url("../img/calendar_today.svg");
                        padding-right: 0.4rem;
                    }
                }
                &__time {
                    &::before {
                        content: url("../img/gg_time.svg");
                        padding-right: 0.4rem;
                    }
                }
            }
        }
    }
    footer {
        width: 100%;
        margin-bottom: -70px;
        overflow: hidden;

        @media (max-width: 1200px) {
            margin-bottom: -20px;
        }
        @media (max-width: 1024px) {
            margin-bottom: -50px;
        }
        @media (max-width: 767px) {
            margin-bottom: 0;
            &::after {
                content: "";
                position: absolute;
                bottom: -20%;
                width: 57rem;
                height: 57rem;
                flex-shrink: 0;
                border-radius: 57rem;
                opacity: 0.8;
                background: #332f65;
                filter: blur(250px);
                z-index: -1;
            }
        }
        .footer {
            white-space: nowrap;
            overflow: hidden;
            h1 {
                font-family: "Gilroy-Extrabold";
                font-size: 8rem;
                text-transform: uppercase;
                margin: 0;
                color: transparent;
                -webkit-text-stroke: 1px #4747478f;
                font-size: 8.9vw;
                animation: resize 5s linear infinite;
                text-align: center;
                @media (min-width: 1450px) {
                    position: absolute;
                    bottom: -10%;
                }
                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
}
